In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('cars.csv',delimiter=';')

In [3]:
df=dataset.tail(10)
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
397,Chrysler Lebaron Medallion,26.0,4,156.0,92.00,2585.,14.5,82,US
398,Ford Grenada l,22.0,6,232.0,112.0,2835,14.7,82,US
399,Toyota Celica GT,32.0,4,144.0,96.00,2665.,13.9,82,Japan
400,Dodge Charger 2.2,36.0,4,135.0,84.00,2370.,13.0,82,US
401,Chevrolet Camaro,27.0,4,151.0,90.00,2950.,17.3,82,US
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df=df.iloc[:,:].values

In [6]:
df

array([['Chrysler Lebaron Medallion', '26.0', '4', '156.0', '92.00',
        '2585.', '14.5', '82', 'US'],
       ['Ford Grenada l', '22.0', '6', '232.0', '112.0', '2835', '14.7',
        '82', 'US'],
       ['Toyota Celica GT', '32.0', '4', '144.0', '96.00', '2665.',
        '13.9', '82', 'Japan'],
       ['Dodge Charger 2.2', '36.0', '4', '135.0', '84.00', '2370.',
        '13.0', '82', 'US'],
       ['Chevrolet Camaro', '27.0', '4', '151.0', '90.00', '2950.',
        '17.3', '82', 'US'],
       ['Ford Mustang GL', '27.0', '4', '140.0', '86.00', '2790.',
        '15.6', '82', 'US'],
       ['Volkswagen Pickup', '44.0', '4', '97.00', '52.00', '2130.',
        '24.6', '82', 'Europe'],
       ['Dodge Rampage', '32.0', '4', '135.0', '84.00', '2295.', '11.6',
        '82', 'US'],
       ['Ford Ranger', '28.0', '4', '120.0', '79.00', '2625.', '18.6',
        '82', 'US'],
       ['Chevy S-10', '31.0', '4', '119.0', '82.00', '2720.', '19.4',
        '82', 'US']], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
country=LabelEncoder()

In [11]:
df[:,8]=country.fit_transform(df[:,8])

In [12]:
df

array([['Chrysler Lebaron Medallion', '26.0', '4', '156.0', '92.00',
        '2585.', '14.5', '82', 2],
       ['Ford Grenada l', '22.0', '6', '232.0', '112.0', '2835', '14.7',
        '82', 2],
       ['Toyota Celica GT', '32.0', '4', '144.0', '96.00', '2665.',
        '13.9', '82', 1],
       ['Dodge Charger 2.2', '36.0', '4', '135.0', '84.00', '2370.',
        '13.0', '82', 2],
       ['Chevrolet Camaro', '27.0', '4', '151.0', '90.00', '2950.',
        '17.3', '82', 2],
       ['Ford Mustang GL', '27.0', '4', '140.0', '86.00', '2790.',
        '15.6', '82', 2],
       ['Volkswagen Pickup', '44.0', '4', '97.00', '52.00', '2130.',
        '24.6', '82', 0],
       ['Dodge Rampage', '32.0', '4', '135.0', '84.00', '2295.', '11.6',
        '82', 2],
       ['Ford Ranger', '28.0', '4', '120.0', '79.00', '2625.', '18.6',
        '82', 2],
       ['Chevy S-10', '31.0', '4', '119.0', '82.00', '2720.', '19.4',
        '82', 2]], dtype=object)

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [18]:
ct=ColumnTransformer(transformers=[('encode',OneHotEncoder(),[8])],remainder='passthrough')

In [19]:
y=ct.fit_transform(df)

c:\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [20]:
y

array([[0.0, 0.0, 1.0, 'Chrysler Lebaron Medallion', '26.0', '4',
        '156.0', '92.00', '2585.', '14.5', '82'],
       [0.0, 0.0, 1.0, 'Ford Grenada l', '22.0', '6', '232.0', '112.0',
        '2835', '14.7', '82'],
       [0.0, 1.0, 0.0, 'Toyota Celica GT', '32.0', '4', '144.0', '96.00',
        '2665.', '13.9', '82'],
       [0.0, 0.0, 1.0, 'Dodge Charger 2.2', '36.0', '4', '135.0',
        '84.00', '2370.', '13.0', '82'],
       [0.0, 0.0, 1.0, 'Chevrolet Camaro', '27.0', '4', '151.0', '90.00',
        '2950.', '17.3', '82'],
       [0.0, 0.0, 1.0, 'Ford Mustang GL', '27.0', '4', '140.0', '86.00',
        '2790.', '15.6', '82'],
       [1.0, 0.0, 0.0, 'Volkswagen Pickup', '44.0', '4', '97.00',
        '52.00', '2130.', '24.6', '82'],
       [0.0, 0.0, 1.0, 'Dodge Rampage', '32.0', '4', '135.0', '84.00',
        '2295.', '11.6', '82'],
       [0.0, 0.0, 1.0, 'Ford Ranger', '28.0', '4', '120.0', '79.00',
        '2625.', '18.6', '82'],
       [0.0, 0.0, 1.0, 'Chevy S-10', '31.0', '4', '119.0', '82.00',
        '2720.', '19.4', '82']], dtype=object)

In [22]:
y=pd.DataFrame(y)
y

  0  1  2                           3     4  5      6      7      8     9   10
0  0  0  1  Chrysler Lebaron Medallion  26.0  4  156.0  92.00  2585.  14.5  82
1  0  0  1              Ford Grenada l  22.0  6  232.0  112.0   2835  14.7  82
2  0  1  0            Toyota Celica GT  32.0  4  144.0  96.00  2665.  13.9  82
3  0  0  1           Dodge Charger 2.2  36.0  4  135.0  84.00  2370.  13.0  82
4  0  0  1            Chevrolet Camaro  27.0  4  151.0  90.00  2950.  17.3  82
5  0  0  1             Ford Mustang GL  27.0  4  140.0  86.00  2790.  15.6  82
6  1  0  0           Volkswagen Pickup  44.0  4  97.00  52.00  2130.  24.6  82
7  0  0  1               Dodge Rampage  32.0  4  135.0  84.00  2295.  11.6  82
8  0  0  1                 Ford Ranger  28.0  4  120.0  79.00  2625.  18.6  82
9  0  0  1                  Chevy S-10  31.0  4  119.0  82.00  2720.  19.4  82